# Skopiuj do .env.local (te wartości są publiczne — chroni je RLS w Supabase)
NEXT_PUBLIC_SUPABASE_URL=https://dolpgphtyvlrbgtrezua.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImRvbHBncGh0eXZscmJndHJlenVhIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODM5NjE4NDUsImV4cCI6MjA5OTUzNzg0NX0.weZPWLqAxZgvx4q-UCf8CcV43rajqoSGfjAgU--ueE4
